<% content_for :head do %>
<%= meta_tag('video-url', @video.video_attachment.media_url) if @video.video_attachment %>
<% end %>

<%- model_class = Video -%>

<div class="container">
  <ul class="breadcrumb">
    <li><a href="/"><span class="label label-success">主页</span></a><span class="divider">/</span></li>
    <li class="active"><span class="label label-default">视频播放</span></li>
  </ul>
  <div class="page-header">
    <h1><%= @video.title %></h1>
  </div>

  <p class="lead"><%= raw @video.note %></p>

  <div id="player">
    <div class="watch">
      <a class="btn btn-primary">Click to Play Video ▶</a>
    </div>
    <%= render 'shared/player' %>
  </div>

</div>

