<% content_for :head do %>
<%= meta_tag('video-url', @video.video_attachment.media_url) if @video.video_attachment %>
<% end %>

<%- model_class = Video -%>

<div class="container">
  <div class="page-header">
    <h1><%= @video.title %></h1>
  </div>

  <p class="lead"><%= raw @video.note %></p>

  <div id="player">
    <div class="watch">
      <a class="btn btn-primary">Click to Play Video ▶</a>
    </div>
    <%= render 'shared/player' %>
  </div>

</div>

