// Place all the styles related to the Clients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html{
  height:100%
}  
body {
  height:100%;
  margin:0px;
  padding:0px;
  padding-top: 50px;
}
#allmap{
  height:100%
}  

#l-map{
  height:100%;width:78%;float:left;border-right:2px solid #bcbcbc;
}
#r-result{
  height:100%;width:20%;float:left;
}
