// Place all the styles related to the videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jp-video-episode {
  width: 960px;
  margin-top: 40px;
  margin-right: 35px;
  display: none;
}