<ul class="breadcrumb">
  <li><a href="/clients/"><span class="label label-success">主页</span></a> <span class="divider">/</span></li>
  <li class="active"><span class="label label-default">地理化显示</span></li>
</ul>
<div id="allmap"></div>