<div class="container">
  <ul class="breadcrumb">
    <li><a href="/clients/"><span class="label label-success">主页</span></a> <span class="divider">/</span></li>
    <li class="active"><span class="label label-default">在线监控</span></li>
  </ul>
</div>

<div id="allmap"></div>

<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.5&ak=EBe86b6e3510578ce64dc94c89b7739c"></script>
<script type="text/javascript" src="http://api.map.baidu.com/library/TextIconOverlay/1.2/src/TextIconOverlay_min.js"></script>